# This file lists the active modules and representations.
# Each line can contain a module name to just activate
# a module. Or a line can contain a module and one 
# representation, that is provided by this module.

#Example modules
#ExampleMod2 ExampleRep 
#ExampleMod ExampleRep2

OppAnalyzer OppInfo

CognitionConfigLoader FieldDimensions

SimSparkConnection ServerMessage 
SimSparkConnection SimsparkInfo

Parser FrameInfo 
Parser PlayerInfo
Parser Gamestate
Parser BallPerceptPolar
Parser FlagPercept
Parser GoalPercept
Parser SimSparkLinePercept
Parser SensorData
Parser ForceData
Parser FSRData
Parser JointData
Parser Groundtruth
Parser HearMessage
Parser RobotPartPercept

#-- team communication
TeamComRecv TeamComInfo
TeamComRecv TeamComDataIn
TeamComDemux TC_BeliefShareIn
TeamComMux TeamComDataOut
TeamComSend SayMessage

#-- modeling -- 
AccEvaluator Odometry
TorsoAngleEstimator UprightVec
TorsoAngleEstimator TorsoAngles
RobotModelProvider FKModel
GroundContactDetector GroundContactState
TorsoPoseProvider TorsoPose
FallDetector FallState

PolarBallPerceptConverter BallPercept

#SelfLocator RobotPose
AugmentedSelfLocator RobotPose
AugmentedSelfLocator LocalRobotPose
#BallLocator BallPos
BallLocator LocalBallPos
#NaiveAgentLocator OtherRobots
NaiveAgentLocator LocalOtherRobots

BeliefShare TC_BeliefShareOut
BeliefShare TeamRobotPose
BeliefShare TeamBallPos
BeliefShare ReceivedBallPos
BeliefShare TeamOtherRobots
#BeliefCombinator RobotPose
BeliefCombinator BallPos
BeliefCombinator OtherRobots

#-- behavior --
#TestBehavior SkillRequest
#TestBehavior BeamRequest
#include config/modules_soccer.cfg
RepeatGoalkick SkillRequest

CognitionConfigLoader SkillKickParameters
#SkillKickPSO SkillKickParameters
#SkillKickPSO SkillRequest
#SkillKickPSO BeamRequest

#-- skills --
FootSelector ActiveFoot
PathPlanning SafeWalkDirection
SkillMoveToPos SkillMoveToPosOutput
SkillGetBall SkillGetBallOutput
SkillKick SkillKickOutput
SkillDribble SkillDribbleOutput
SkillCombinator MotionRequest

#-- motions --
MotionSelector MotionSelection
Hoap2WalkingEngine WalkingEngineOutput
SpecialActions SpecialActionsOutput
KickMotion KickMotionOutput
DeadMotion DeadMotionOutput

SimpleHeadMotion HeadMotionRequest

MotionCombinator JointRequest
JointPDControl JointRequestWithSpeeds

SimSparkSend
